.main-nav {
  background: rgba(45,45,45,0.98);

  a {
    color: #fff;
    text-decoration: none;
    line-height: 0;
    
    &:nth-child(n+1) {
      line-height: 2.75em;
    }

    &:hover {
      opacity: .65;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;

    li {
      list-style-type: none;
    }
  }
}

.sub-nav {
  margin: 0;
  padding: 0;
  background: rgba(242,242,242,0.7);
  text-align: center;

  li {
    margin: 0 10px;
    list-style-type: none;
    line-height: 2.75em;
    display: inline-block;
  }
}